body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:392px;
    top:134px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_normal {
    background-image: url('../Nuestras_Historias_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:10px;
    top:0px;
    width:817px;
    height:80px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:86px;
}

.u2 {
    position:absolute;
    left:2px;
    top:32px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Nuestras_Historias_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:80px;
    width:817px;
    height:30px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:36px;
}

.u4 {
    position:absolute;
    left:2px;
    top:7px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../Nuestras_Historias_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u5 {
    position:absolute;
    left:104px;
    top:88px;
    width:10px;
    height:16px;
    
}

.u6_line {
    background-image: url('../Nuestras_Historias_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u6 {
    position:absolute;
    left:217px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u7 {
    position:absolute;
    left:33px;
    top:185px;
    width:434px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:33px;
    top:260px;
    width:401px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:33px;
    top:429px;
    width:148px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Nuestras_Historias_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:327px;
    height:3px;
}

.u10 {
    position:absolute;
    left:27px;
    top:460px;
    width:327px;
    height:10px;
    
}

.u11 {
    position:absolute;
    left:33px;
    top:214px;
    width:108px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:33px;
    top:225px;
    width:69px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:39px;
    top:496px;
    width:434px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:39px;
    top:571px;
    width:401px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:39px;
    top:740px;
    width:401px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Nuestras_Historias_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:327px;
    height:3px;
}

.u16 {
    position:absolute;
    left:33px;
    top:771px;
    width:327px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:39px;
    top:525px;
    width:108px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Nuestras_Historias_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:25px;
    top:14px;
    width:139px;
    height:48px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:48px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Nuestras_Historias_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:365px;
    top:209px;
    width:14px;
    height:11px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:11px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:382px;
    top:209px;
    width:53px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Nuestras_Historias_files/u20_normal.png');
}

.u23_container {
    position:absolute;
    left:372px;
    top:517px;
    width:14px;
    height:11px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:11px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:389px;
    top:517px;
    width:53px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:39px;
    top:536px;
    width:69px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:29px;
    top:134px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_normal {
    background-image: url('../Nuestras_Historias_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:400px;
    top:142px;
    width:15px;
    height:9px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:9px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Nuestras_Historias_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:344px;
    top:429px;
    width:14px;
    height:13px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:13px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:365px;
    top:428px;
    width:105px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Nuestras_Historias_files/u30_normal.png');
}

.u33_container {
    position:absolute;
    left:344px;
    top:741px;
    width:14px;
    height:13px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:13px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:365px;
    top:740px;
    width:105px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:603px;
    top:312px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:603px;
    top:134px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:605px;
    top:170px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../Nuestras_Historias_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:166px;
    height:3px;
}

.u51 {
    position:absolute;
    left:603px;
    top:150px;
    width:166px;
    height:10px;
    
}

.u52 {
    position:absolute;
    left:603px;
    top:233px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:712px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:766px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../Nuestras_Historias_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u55 {
    position:absolute;
    left:754px;
    top:2px;
    width:10px;
    height:16px;
    
}

.u56 {
    position:absolute;
    left:16px;
    top:88px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:126px;
    top:89px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:240px;
    top:89px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

