body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Copy_of_Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:0px;
    width:817px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Copy_of_Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:27px;
    top:10px;
    width:200px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Copy_of_Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:80px;
    width:817px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:88px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:126px;
    top:89px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:302px;
    top:91px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../Copy_of_Home_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u9 {
    position:absolute;
    left:712px;
    top:133px;
    width:10px;
    height:16px;
    
}

.u10_line {
    background-image: url('../Copy_of_Home_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u10 {
    position:absolute;
    left:217px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u11_normal {
    background-image: url('../Copy_of_Home_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:130px;
    width:534px;
    height:238px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:540px;
    height:244px;
}

.u12 {
    position:absolute;
    left:2px;
    top:111px;
    width:530px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:77px;
    top:404px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:396px;
    top:404px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:712px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:766px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../Copy_of_Home_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u17 {
    position:absolute;
    left:754px;
    top:2px;
    width:10px;
    height:16px;
    
}

.u18_normal {
    background-image: url('../Copy_of_Home_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:602px;
    top:120px;
    width:225px;
    height:238px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:244px;
}

.u19 {
    position:absolute;
    left:2px;
    top:111px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:606px;
    top:133px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../Copy_of_Home_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u21 {
    position:absolute;
    left:108px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u22_line {
    background-image: url('../Copy_of_Home_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u22 {
    position:absolute;
    left:686px;
    top:130px;
    width:10px;
    height:16px;
    
}

.u23 {
    position:absolute;
    left:699px;
    top:133px;
    width:111px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:236px;
    top:91px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Copy_of_Home_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u25 {
    position:absolute;
    left:282px;
    top:89px;
    width:10px;
    height:16px;
    
}

