body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:0px;
    width:817px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:27px;
    top:10px;
    width:200px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:80px;
    width:817px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:88px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:126px;
    top:89px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:240px;
    top:89px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../Home_1_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u9 {
    position:absolute;
    left:104px;
    top:88px;
    width:10px;
    height:16px;
    
}

.u10_line {
    background-image: url('../Home_1_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u10 {
    position:absolute;
    left:217px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u11_normal {
    background-image: url('../Home_1_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:16px;
    top:120px;
    width:804px;
    height:113px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:810px;
    height:119px;
}

.u12 {
    position:absolute;
    left:2px;
    top:48px;
    width:800px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../Home_1_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:250px;
}

.u13 {
    position:absolute;
    left:260px;
    top:379px;
    width:10px;
    height:250px;
    
}

.u14_line {
    background-image: url('../Home_1_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:240px;
}

.u14 {
    position:absolute;
    left:540px;
    top:379px;
    width:10px;
    height:240px;
    
}

.u15 {
    position:absolute;
    left:16px;
    top:365px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:298px;
    top:365px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:572px;
    top:365px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:405px;
    width:199px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:287px;
    top:405px;
    width:199px;
    height:208px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:572px;
    top:405px;
    width:199px;
    height:256px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:144px;
    top:672px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:430px;
    top:672px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:700px;
    top:672px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:712px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:766px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../Home_1_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u26 {
    position:absolute;
    left:754px;
    top:2px;
    width:10px;
    height:16px;
    
}

