body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Barrera_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:0px;
    width:817px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:31px;
    top:251px;
    width:434px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:31px;
    top:326px;
    width:401px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:31px;
    top:495px;
    width:148px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../Barrera_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:4px;
    width:327px;
    height:3px;
}

.u5 {
    position:absolute;
    left:25px;
    top:526px;
    width:327px;
    height:10px;
    
}

.u6 {
    position:absolute;
    left:31px;
    top:280px;
    width:108px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:31px;
    top:291px;
    width:69px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:37px;
    top:562px;
    width:434px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:37px;
    top:637px;
    width:401px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:37px;
    top:806px;
    width:401px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../Barrera_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:327px;
    height:3px;
}

.u11 {
    position:absolute;
    left:33px;
    top:771px;
    width:327px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:37px;
    top:591px;
    width:108px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Barrera_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:25px;
    top:14px;
    width:139px;
    height:48px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:48px;
}

.u14 {
    position:absolute;
    left:2px;
    top:16px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Barrera_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:363px;
    top:275px;
    width:14px;
    height:11px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:11px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:380px;
    top:275px;
    width:53px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Barrera_files/u15_normal.png');
}

.u18_container {
    position:absolute;
    left:370px;
    top:583px;
    width:14px;
    height:11px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:11px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:387px;
    top:583px;
    width:53px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:37px;
    top:602px;
    width:69px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:333px;
    top:176px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_normal {
    background-image: url('../Barrera_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:342px;
    top:495px;
    width:14px;
    height:13px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:13px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:363px;
    top:494px;
    width:105px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Barrera_files/u23_normal.png');
}

.u26_container {
    position:absolute;
    left:342px;
    top:807px;
    width:14px;
    height:13px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:13px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-2px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:363px;
    top:806px;
    width:105px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:603px;
    top:312px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:16px;
    top:0px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:594px;
    top:536px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:596px;
    top:572px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../Barrera_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:166px;
    height:3px;
}

.u44 {
    position:absolute;
    left:594px;
    top:552px;
    width:166px;
    height:10px;
    
}

.u45 {
    position:absolute;
    left:594px;
    top:635px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:712px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:766px;
    top:4px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../Barrera_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u48 {
    position:absolute;
    left:754px;
    top:2px;
    width:10px;
    height:16px;
    
}

.u49 {
    position:absolute;
    left:594px;
    top:120px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:596px;
    top:156px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../Barrera_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:0px;
    top:4px;
    width:166px;
    height:3px;
}

.u51 {
    position:absolute;
    left:594px;
    top:136px;
    width:166px;
    height:10px;
    
}

.u52 {
    position:absolute;
    left:594px;
    top:219px;
    width:231px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:20px;
    top:136px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Barrera_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:10px;
    top:80px;
    width:817px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:823px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:7px;
    width:813px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:12px;
    top:91px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:124px;
    top:92px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:302px;
    top:91px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../Barrera_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u59 {
    position:absolute;
    left:217px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u60_line {
    background-image: url('../Barrera_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u60 {
    position:absolute;
    left:108px;
    top:89px;
    width:10px;
    height:16px;
    
}

.u61 {
    position:absolute;
    left:236px;
    top:91px;
    width:102px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../Barrera_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:16px;
}

.u62 {
    position:absolute;
    left:282px;
    top:89px;
    width:10px;
    height:16px;
    
}

